{% extends 'base.html' %} 
{% load static %} 
{% block title %} 

{{title}} 

{% endblock title %} 
{% block header %}
    <h1 class="display-3 text-light text-center">{{heading}}</h1>
    <p class="lead text-light text-center">{{subheading}}</p>
{% endblock header %}
{% block content %}

  <div class="row">
    <div class="col-6">
      <h1 class="m-4 display-4">AGENT-001 \ Jett</h1>
      <img
        class="img-fluid h-50"
        src="{% static 'base-img/contoh.png' %}"
        alt=""
      />
    </div>
    <div class="col-6">
      <h1 class="m-4 display-4">AGENT-001 \ Jett</h1>
      <img
        class="img-fluid h-50"
        src="{% static 'base-img/contoh.png' %}"
        alt=""
      />
    </div>
  </div>
<div class="row">
  <div class="col-6">
    <h1 class="m-4 display-4">AGENT-001 \ Jett</h1>
    <img class="img-fluid h-50" src="{% static 'base-img/contoh.png' %}" alt="" />

  </div>
  <div class="col-6">
    <h1 class="m-4 display-4">AGENT-001 \ Jett</h1>
    <img class="img-fluid h-50" src="{% static 'base-img/contoh.png' %}" alt="" />
  
  </div>
</div>
<div class="row p-4">
  <div class="col-12 d-flex justify-content-center">
    <button type="button" class="btn btn-primary">------ HALAMAN ------</button>
  </div>
</div>
{% endblock content %}
