{% extends 'base.html' %}
{% load static %}
{% block title %}
{{title}}
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'home/css/searchjumbotron.css' %}" />
{% endblock stylesheet %}


{% block header %}
<div class="row m-auto ">
    <div class="col-12 w-auto">
        <h1 class="display-3 text-light text-center"><strong>{{heading}}</strong></h1>
        <p class="lead text-light text-center">{{subheading}}"{{value}}"</p>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="row m-5">
    <div class="col-12">
        <h2 class="display-4 mt-4">Hasil pencarian:</h2>
        <p>Kata kunci "{{value}}"</p>
    </div>
</div>

{% if listMobil or listMotor %}
<hr/>
{% if listMobil %}
<div class="row ml-5">
    <div class="col-12">
        <h5>List Mobil "{{value}}"</h5>
    </div>
</div>
<div class="row m-4 px-4">
    {% for mobil in listMobil %}
    <div class="col-lg-4">
        <div class="card mb-4" style="width: 18rem;">
            <img src="{{mobil.foto_mbl.url}}" class="card-img-top" alt="Foto {{mobil.nama_mbl}}">
            <div class="card-body">
                <h5 class="card-title">{{mobil.merk_mbl}} {{mobil.nama_mbl}}</h5>
                <p style="max-width: 200px;" class="card-text text-secondary">{{mobil.tentang_mbl|truncatewords:15}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fab fa-slack-hash mr-1"></i>
                    <button class="btn btn-outline-success active btn-sm">{{mobil.status_mbl}}</button></li>
                <li class="list-group-item"><i class="fas fa-money-bill-wave mr-1"></i>Rp 
                    <script>
                        var num = {{mobil.harga_mbl}};
                        num = num.toLocaleString("id-ID");
                        document.write(num);
                    </script> 
                     /hari</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'mobil:aboutMobil' slugInput=mobil.slug %}" class="btn btn-warning"><i
                        class="fas fa-file-invoice mr-1"></i>Detail</a>
                <a href="{% url 'booking:mobil' claimInput=mobil.slug %}" class="btn btn-success"><i
                        class="fas fa-tags mr-1"></i>Pesan</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}
<hr/>
{% if listMotor %}
<div class="row ml-5">
    <div class="col-12">
        <h5>List Motor "{{value}}"</h5>
    </div>
</div>
<div class="row m-4 px-4">
    {% for motor in listMotor %}
    <div class="col-lg-4">
        <div class="card mb-4" style="width: 18rem;">
            <img src="{{motor.foto_mtr.url}}" class="card-img-top" alt="Foto {{motor.nama_mtr}}">
            <div class="card-body">
                <h5 class="card-title">{{motor.merk_mtr}} {{motor.nama_mtr}}</h5>
                <p style="max-width: 200px;" class="card-text text-secondary">{{motor.tentang_mtr|truncatewords:15}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fab fa-slack-hash mr-1"></i>
                    <button class="btn btn-success active btn-sm">{{motor.status_mtr}}</button></li>
                <li class="list-group-item"><i class="fas fa-money-bill-wave mr-1"></i>Rp 
                <script>
                    var num = {{motor.harga_mtr}};
                    num = num.toLocaleString("id-ID");
                    document.write(num);
                </script> /hari</li>
            </ul>
            <div class="card-body">
                <a href="{% url 'motor:aboutMotor' slugInput=motor.slug %}" class="btn btn-warning"><i
                        class="fas fa-file-invoice mr-1"></i>Detail</a>
                <a href="{% url 'booking:motor' claimInput=motor.slug %}" class="btn btn-success"><i
                        class="fas fa-tags mr-1"></i>Pesan</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}

{% else %}
<div class="alert alert-danger" role="alert">
    <h3>Maaf.. </h3>
    <h4>Kendaraan yang dicari tidak ditemukan!</h4>
</div>
{% endif %}

{% endblock content %}