{% extends 'base.html' %}
{% load static %}
{% block title %}

{{title}}

{% endblock title %}

{% block stylesheet %}


<link rel="stylesheet" href="{% static 'home/css/jumbotron.css' %}" />

{% endblock stylesheet %}


{% block header %}
<div class="row m-auto ">
  <div class="col-12 w-auto">
    <h1 class="display-3 text-light text-center"><strong>{{heading}}</strong></h1>
    <p class="lead text-light text-center">{{subheading}}</p>
  </div>
</div>
{% endblock header %}
{% block content %}
<div class="row m-5">
  <div class="col-12">
    <h2 class="display-4 mt-4">Syarat dan Ketentuan :</h2>
    <p>Ditujukan untuk seluruh pengguna website rental kendaraan motor dan mobil.</p>
    <hr/>
    <div class="container">
      <h4 class="header"><span>Pemesanan</span></h4>
      <div class="description">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Setiap pengambilan kendaraan akan kami minta kelengkapan data untuk kami proses </li>
          <li class="list-group-item">Pemesanan kami anggap valid dengan pengisian data dan pembayaran DP / <strong>Booking Fee sebesar
              25%</strong> dari total order.</li>
          <li class="list-group-item"> Silahkan konfirmasi pembayaran DP Anda ke pihak Rental untuk menghindari kelalaian.</li>
          <li class="list-group-item">Selanjutnya pihak kami akan memberikan konfirmasi ke nomor HP atau Email anda<br>
          <li class="list-group-item">Update atau perubahan data mobil merupakan sepenuhnya hak Rental, dan akan
            diinformasikan pihak Rental paling lambat 3 jam sebelum penjemputan atau jadwal yang telah diisi pada
            data Booking Customer.</li>
          <li class="list-group-item">Jika pemesanan dalam kurun waktu <strong>6 jam</strong> setelah data di input tidak membayar booking fee maka kami anggap
            batal.</li>
          <li class="list-group-item">Pemesanan yang telah dibayar akan memiliki status <strong>booking</strong> yang berarti sudah berhasil dipesan </li>
        </ul>
      </div>
    </div>
    <div class="container my-4">
        <h4 class="header"><span>Perubahan Pemesanan</span></h4>
        <div class="description">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Perubahan masa sewa paling lambat 1×24 jam sebelum jadwal penjemputan.</li>
            <li class="list-group-item">Kami pihak Rental berhak menyetujui atau tidak setiap perubahan pemesanan.</li>
            <li class="list-group-item">Apabila pemakaian melebihi batas waktu tanpa ada konfirmasi perubahan masa sewa akan dikenakan biaya
              overtime sebesar 10% perjam.</li>
            <li class="list-group-item">Untuk perubahan jam dan alamat penjemputan paling lambat diinfokan oleh penyewa 2 jam sebelum
              penjemputan oleh driver kami.</li>
            <li class="list-group-item">Perpanjangan masa sewa sebaiknya diinfokan 1 x 24 jam.</li>
            <li class="list-group-item">Pihak Rental berhak menolak perpanjangan masa sewa jika ketersediaan sudah habis dipesan.
            </li>
          </ul>
        </div>
    </div>
    <div class="container">
        <h4 class="header"><span>Pembatalan Pemesanan</span></h4>
        <div class="description">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Setiap pembatalan pemesanan rental mobil akan dikenakan biaya <strong>cancel fee
              </strong>sebesar<strong>&nbsp;25%</strong> dari total sewa.</li>
            <li class="list-group-item">Pembatalan booking tidak akan dikenakan biaya cancel fee dengan syarat dan ketentuan sebagai berikut
              :
              <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-info">2x24 Jam sebelum jadwal yang telah dipesan.</li>
                <li class="list-group-item list-group-item-info">Pembatalan kendaraan bermotor tidak dikenakan cancel fee.</li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
    <div class="container my-4">
          <h4 class="header"><span>Perubahan Harga dan Paket Sewa</span></h4>
          <div class="description">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Harga dapat berubah dalam kondisi :
                <ul class="list-group list-group-flush">
                  <li class="list-group-item ">Musim libur</li>
                  <li class="list-group-item ">Long weekend</li>
                  <li class="list-group-item ">High &amp; peak season</li>
                </ul>
              </li>
            </ul>
          </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}