{% load static %}

<nav class="navbar fixed-top navbar-expand-md navbar-light" id="navbarku">
    <div class="container">
        <a href="{% url 'home:index' %}" class="navbar-brand p-0 mb-1">
            <img style="height: 45px;" src="{% static 'base-img/sitebanner.png' %}" alt="Banner">
        </a>
        <button class="navbar-toggler bg-light" type="button" data-toggle="collapse"
            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggleExternalContent">

            <ul class="navbar-nav ml-lg-3 ">
                <li class="nav-item">
                    <a class="text-light nav-link" href="{% url 'home:index' %}"><i class="fas fa-home"></i> Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'mobil:index' %}"><i class="fas fa-car"></i> Mobil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'motor:index' %}"><i class="fas fa-motorcycle"></i>
                        Motor</a>
                </li>

            </ul>
            <ul class="navbar-nav ml-lg-auto mr-1">
                <li class="nav-item">
                    <form class="form-inline" method="get" action="{% url 'home:search' %}">
                        {% csrf_token %}
                        <input name="search" class="form-control " type="search" placeholder="Cari Motor/Mobil" aria-label="Search">
                        <button class="btn btn-outline-light my-lg-2 ml-lg-1" type="submit"><i
                                class="fas fa-search"></i></button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'akun:index' %}">
                        <button type="button" class="btn btn-outline-light ml-lg-3">
                            <i class="fas fa-user-circle mr-1"></i> Akun</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>