{% load static %}
<nav class="navbar fixed-top navbar-expand-sm navbar-light" id="navbarku">
        <div class="container">
                <a href="#" class="navbar-brand p-0 mb-1">
                    <img style="height: 45px;" src="{% static 'base-img/sitebanner.png' %}" alt="Banner">
                </a>
                <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                
                <ul class="navbar-nav ml-3 ">
                    <li class="nav-item">
                        <a class="text-light nav-link" href="{% url 'home:index' %}"><i class="fas fa-home"></i> Home</a>
                        
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#"><i class="fas fa-car"></i> Mobil</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#"><i class="fas fa-motorcycle"></i> Motor</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <form class="form-inline ">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>