{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'akun/css/jumbotron.css' %}" />
{% endblock stylesheet %}

{% block title %}
{{title}}
{% endblock title %}

{% block header %}
<div class="row m-auto ">
    <div class="col-12 w-auto">
        <h1 class="display-3 text-light text-center"><strong>{{heading}}</strong></h1>
        <p class="lead text-light text-center">{{subheading}}</p>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="col-sm-12 col-md-2 wy-5">
        <img src="{% static 'base-img/profile-ph.png' %}" class="img-fluid rounded-circle my-4" alt="Foto Profile">
    </div>
    <div class="col-sm-12 col-md-10 my-5">
        <ul class="list-group">
            <li class="list-group-item active">Email : 8891919_Yunas@gmail.com</li>
            <li class="list-group-item">Jeneng : Yunas gens</li>
            <li class="list-group-item disabled">Tgl gabung : 21 Juni 2012</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <button class="btn btn-warning btn-block">List Pesanan</button>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td scope="row"></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}